{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Regístrate" %}| AutoModo {% endblock %}

{% block content %}
<div class="container mb-5 d-flex justify-content-center align-items-center" style="margin-left: 95px;">
  <div class="row align-items-stretch w-75">
    <div class="col-md-3 m-0 p-0 bg-white d-flex align-items-center justify-content-center shadow">
      <img src="{% static 'home/images/person-vcard.svg' %}" alt="" class="img-form">
    </div>
    <div class="col-md-9 m-0 p-0">
      <div class="container-form text-center shadow p-5" style="height: 500px;">
        <div class="d-flex justify-content-center align-items-center">
          <h2 class="text-start"><b>{% trans "Ingresá" %}</b><br>{% trans "tus datos" %}</h2>
          <hr class="w-100">
        </div>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Usuario">
            <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Contraseña">
          </div>
          <div class="container-login-btn d-flex justify-content-center aling-items-center">
            <button type="submit" class="btn btn-outline-dark w-50 mb-3">{% trans "Ingresar" %}</button>
            <a href="{% url 'register' %}" class="text-decoration-none mb-2 ms-4 text-left text-dark register-title">
              {% trans "¿No tenés una cuenta?" %} <b>{% trans "Registrate gratis" %}</b></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}