# SQLite database file
sqlite3
db.sqlite3

.pyc
*.pyc

__pycache__
*/__pycache__
__pycache__/
**/__pycache__/

toDo.txt
env/
/env
env
/env/*
*env/
miniblog/**/*.pyc
miniblog/db.sqlite3

.data
*/migrations
migrations/
**/migrations/
media/