
.body_inicio {
	background: url("/img/fondo.jpeg") no-repeat center center fixed;
	background-size: cover;
}
.navbar_inicio {
	background-color: transparent;
}
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.inicio{
  background-color: rgba(150, 96, 167, 0.4); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}