@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
  --primary-font: 'Bebas Neue', sans-serif;
  --secondary-font: 'Rosario', sans-serif;
  --font-paragraphs: 'Quicksand', sans-serif;
  --background-color: #0C0D0D;
  --primary-color: #2E2C30;

}

.primary-color{
  background-color: #2E2C30;

}

.secondary-color{
  background-color: #745C97;

}

.background-color{
  background-color: #0C0D0D;
}

.primary-font{
  font-family: 'Bebas Neue', sans-serif;

}

.font-paragraphs{
  font-family: 'Quicksand', sans-serif;

}

.secondary-font{
  font-family:'Rosario', sans-serif;
}

.color-font{
  color: #FFFFFF;
}

body{
  height: auto;
  background-color: #0C0D0D;

}

.navbar_home{
  background-color: #2E2C30;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar_inicio {
  background-color: transparent;
}

.navbar-nav .nav-link,
.navbar-brand,
.card-title{
  color: white;
}

.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.notifications{
  width: 50px;
  height: 50px;

}


.search-bar{
  border-radius: 25px;
  display: flex;
  align-items: center;

}

.search-input{
  color: white!important;
  border: none;
  border-radius: 50px 50px 50px 50px;
  background-color: #745c976d!important;

}

label{
  color: white;

}

.search-button{
  border: none;
  cursor: pointer;
  
}

.div-footer{
  background-color: var(--primary-color);

}

.img-footer{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 1px;

}

footer{
  width: 100%;
  font-family: var(--secondary-font);
  color: black;

}

.social {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-wrap: wrap;
}

.logos-social{
  width: 35px!important;
  height: 35px!important;
  margin-bottom: 0;
  margin: 50px!important;

}