@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --primary-font: 'Bebas Neue', sans-serif;
  --secondary-font: 'Rosario', sans-serif;
  --font-paragraphs: 'Quicksand', sans-serif;
  --black-color: #0C0D0D;
  --white-color: #D9D9D9;
  --background-color: #0C0D0D;
  --primary-color: #2E2C30;
  --second-primary-color: #031633; 
  
}

.primary-color{
  background-color: #2E2C30;

}

.secondary-color{
  background-color: #745C97;

}

.primary-font{
  font-family: 'Bebas Neue', sans-serif;

}

.secondary-font{
  font-family: 'Rosario', sans-serif;

}

.font-paragraphs{
  font-family: 'Quicksand', sans-serif;

}

.body-equal{
    background-color: var(--background-color);

}

.title{
    color: white;
    margin: 0 auto;

}

#eq-container{
    height: 600px;
    color: white;
    padding: 50px;
    background-color: var(--primary-color);
    width: 1100px;
    margin: 40px auto;
}

.slider{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    
}

.slider label{
    flex-grow: 1;
    padding: 20px;
    margin-right: 10px;
}

.bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bar{
    flex-grow: 1;
    height: 20px;
    background-color: #3498db;
    margin: 0 5px;

}

/* Estilo para navegadores WebKit (Chrome y Safari) */
input[type="range"]::-webkit-slider-thumb {
    border: 2px solid #fff;
    background-color: var(--black-color);
}

/* Estilo para Firefox */
input[type="range"]::-moz-range-thumb {
    border: 2px solid #fff;
    background-color: var(--black-color);
}

/* Estilo común para navegadores que soportan el estándar no prefijado */
input[type="range"]::-ms-thumb {
    border: 2px solid #fff;
    background-color: var(--black-color);
}
