.main-banner{
  width: 100%;
  height: 750px;

}

.dragon-ball-logo{
  width: 270px;
  height: 200px;
  transition: transform 0.3s ease;
  z-index: 1;

}

.dragon-ball-logo:hover{
  transform: scale(1.1);

}