{% extends 'home/base.html' %}
{% load static %}

{% block title %} Marcas - Listado de Marcas | AutoModo {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/css/styles-cars.css' %}">
{% endblock %}

{% block content%}
<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h2 class="text-center mb-4 title">Marcas registradas</h2>
    <a href="{% url 'brand_create' %}" class="btn btn-dark mb-3 w-50">Registrar Marca</a>
    <div class="horizontal-rule mt-4"></div>
    </div>
  <div class="d-flex justify-content-center align-items-center mt-5 gap-3">
    <a href="{% url 'car_list' %}" class="btn btn-outline-dark w-25 mb-3">Listado de Vehículos</a>
    <a href="{% url 'car_model_list' %}" class="btn btn-outline-dark w-25 mb-3">Listado de Modelos</a>
    <a href="{% url 'category_list' %}" class="btn btn-outline-dark w-25 mb-3">Listado de Categorías</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="bg-secondary text-white border">ID</th>
        <th class="bg-secondary text-white border">Marca</th>
        <th class="bg-secondary text-white border">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for brand in brands %}
        <tr>
          <td class="align-middle">{{ brand.id }}</td>
          <td class="align-middle">{{ brand.name }}</td>   
          <td>
          <a href="{% url 'brand_detail' brand.id %}" class="btn btn-outline-info text-decoration-none me-1">
            <img src="{% static 'images/three-dots.svg' %}" class="" alt="Detalle Marca" title="Más información">
          </a>
          <a href="{% url 'brand_delete' brand.id %}" class="btn btn-outline-danger text-decoration-none me-1">
            <img src="{% static 'images/trash3.svg' %}" alt="Borrar Marca" title="Borrar Marca">
          </a>
          <a href="{% url 'brand_update' brand.id %}" class="btn btn-outline-success text-decoration-none">
            <img src="{% static 'images/pencil-square.svg' %}" alt="Editar Marca" title="Editar Marca">
          </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}