{% extends 'otroLayout/layout.html' %}

{% block title %} InstaPosts • Regístrate o inicia sesión {% endblock %}

{% block body %}
  
  <body>
    <main class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-10 col-sm-10 animated-content">
              <h1 class="text-uppercase text-center font-weight-bold display-4 p-1 secondary-font">¡HEY! BIENVENIDO INSTAPOSTS</h1>
              <p class="text-center m-1" style="color: #333; font-size: 1.9rem; line-height: 1.5;">
                Descubre un universo de pensamientos, historias y emociones en nuestra página de posteos. Aquí, cada palabra cobra vida y cada idea encuentra su hogar. Únete a nuestra comunidad creativa y comparte tus posteos con el mundo, porque cada voz tiene el poder de inspirar y conectar.
              </p>
              <div class="d-flex justify-content-center align-items-center p-5">
                <a href="/btn_register" class="btn btn-warning btn-lg py-4 px-5">
                  Unirse
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
  </body>

{% endblock %}