@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --main-font: "Montserrat", sans-serif;
  --font-nav: "Space Grotesk", sans-serif;

}

.main-font{
  font-family: var(--main-font);

}

.font-nav{
  font-family: var(--font-nav);

}

body{
  overflow-x: hidden;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  background: #7a7574; 
  background: -webkit-linear-gradient(to right, #b9b5b4, #7a7574);
  background: linear-gradient(to right, #b9b5b4, #7a7574);

}

.div-contact{
  font-size: 13px;
  color: white;
  font-family: var(--main-font);
  background-color: #3b3535;

}

.container-logo{
  background: #cb1b41; 
  
}

.img-logo{
  height: 350px;
  width: 350px;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 1;

}

.img-logo:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 2;

} 

.svg-at-icon{
  filter: invert(1);

}

.position-relative{
  position: relative;

}

.position-absolute{
  position: absolute;
  right: 15px;

}

.contact-container{
  right: 10;

}

nav{
  background-color: #282627;
  height: 70px;
  font-family: var(--font-nav);
  font-size: 16px;

}

.svg-home:hover{
  filter: invert(0);

}

.links:active{
  background-color: rgba(79, 79, 79, 0);
  color: rgba(0, 0, 0, 0.431);

}

.links:hover{
  background-color: rgba(78, 77, 77, 0.151);
  text-decoration: underline;

}

.drop-link{
  color: rgb(255, 255, 255);

}

.drop-link:hover{
  text-decoration: none;
  color: rgb(175, 173, 173) !important;

}

.dropdown-menu{
  background-color: antiquewhite;

}

.img-descript{
  width: 27px;
  height: 27px;

}

.search-product form{
  font-family: var(--main-font);

}

.cart-section{
  background-color: #3b3535c9;

}

.image-product-to-cart{ 
  height: 100px;
  width: 100px;

}

.custom-modal{
  max-width: 80%;

}

.modal-underline{
  text-decoration: underline;

}

.icons-detail{
  height: 30px;
  width: 30px;

}

.image-product-detail{
  width: 200px;
  height: 190px;
  margin: 50px;

}

.image-descript-cart, .image-descript-favourites, .image-descript-detail{
  width: 25px;
  height: 25px;

}

.empty-cart{
  width: 450px;
  height: 450px;

}

.empty-favourites{
  width: 400px;
  height: 400px;

}

.title-empty-cart, .title-empty-favourites{
  color: rgba(0, 0, 0, 0.685);
  font-family: var(--main-font);

}

.button-53{
  background-color: #cb1b41;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-53:focus{
  outline: 0;

}

.button-53:after{
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);

}

.button-53:hover:after{
  bottom: 2px;
  left: 2px;

}

.counter-products{
  font-family: "Oswald", sans-serif;
  display: inline-block;
  background-color: black;
  padding: 5px 10px;
  border-radius: 100%;

}

.svg-mycart, .svg-myfavorites, .svg-home{
  filter: invert(1);

}

.svg-mycart:hover, .svg-myfavorites:hover, .svg-home:hover{
  filter: invert(0);

}

.remove-quantity-img, .remove-all-img{
  width: 17px;
  height: 17px;

}

.container-icons img{  
  height: 20px;

}

.link-product-detail{
  font-family: var(--font-nav);

}

.svg-add-product-to-fav:hover,
.icon-cards-products:hover,
.svg-add-product-to-cart:hover{
  background-color: #fff;
  border: 1px solid black;
  padding: 1px;
  border-radius: 13%;
  
}

.svg-add-product-to-fav:hover,
.svg-add-product-to-fav:hover img,
.svg-add-product-to-cart:hover,
.svg-add-product-to-cart:hover img{
  transform: none;

}

.icon-cards-products{
  width: 15px;
  height: 15px;
  box-sizing: border-box;

}

.custom-height-carousel{
  height: 800px;
  width: 300px;

}

.titles-carousel{
  font-family: var(--font-nav);

}

.horizontal-line-carousel{
  border: solid #3b3535 2px;

}

.horizontal-line{
  border: solid #3b3535 2px;

}

.section-search-products{
  margin-top: 170px;
  margin-bottom: 200px;

}

.title-search-products{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: white;

}

.input-products{
  -webkit-box-shadow: 14px 7px 0px 2px rgb(76, 76, 76);
  -moz-box-shadow: 14px 7px 0px 2px rgb(76, 76, 76);
  box-shadow: 16px 10px 0px 2px rgb(76, 76, 76);
  position: relative;

}

.input-container{
  position: relative;

}

.search-icon{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/public/icons/search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  
}

.add-section{
  height: 150px;

}

.section-products-by-categories{
  box-shadow: 0 20px 20px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: white;

}

.carousel-title{
  font-family: var(--main-font);
  text-decoration: underline;
  font-size: 22px;

}

.product-title, .card-title, .card-text, .product-price, .product-seller, .product-shipping{
  font-family: var(--font-nav);
 
}

.product-seller{
  font-size: 13px;

}

.product-image{
  transition: transform 0.3s ease;

}

.product-image:hover{
  overflow: hidden;
  transform: scale(1.2);

}

#section-list-products{
  margin-top: 200px;

}

.card{
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 1;

}

.card:hover{
  -webkit-transform: scale(1.0);
  transform: scale(1.1);
  z-index: 2;

} 

footer{
  margin-top: 120px;
  color: white;
  width: 100%;
  height: 81px;
  bottom: 0;
  left: 0;

}

.container-footer{
  background-color: #3b3535;
  position: relative;

}

.logo-footer{
  width: 300px;
  height: auto;
  
}

.all-rights-reserved{
  font-size: 13px;

}

.about-us{
  border-top: 1px solid black;
  background-color: #3b3535c9;
  font-size: 12px;
  height: 100px;

}

.social-icons a{
  background-color: #fff;
  border: 1px solid white;
  padding: 10px;
  margin: 2px;
  border-radius: 15%;

}

.social-icons a:hover{
  background-color: #b9b5b4;

}
