{% extends 'home/base.html' %}
{% load static %}

{% block title %} Países - Actualizar | {{country.name}} | AutoModo {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/css/styles-location.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h2 class="text-center mb-5 title">Actualizar País - {{country.name}}</h2>
    <a href="{% url 'country_detail' country.id %}" class="btn btn-dark mb-3 w-50">Volver a Más Información</a>
    <div class="horizontal-rule mt-4"></div>
  </div>
  <form method="post" class="w-50 mx-auto">
    <h4 class="text-center mb-5">Editar País</h4>
    {% csrf_token %}
    <div class="d-flex flex-column align-items-center">
      <div class="card h-50 form-group row justify-content-center align-items-center w-100 mt-3 mb-3">
        <p class="ps-4 mt-3 text-left"><b>Países</b></p>
        <hr class="w-100">
        <div class="d-flex col-lg-9 w-100 justify-content-center pb-3">
          <label class="label-inputs">Actualizá el País</label>
          {{ form.name }}
        </div>
      </div>
      <div class="form-group row w-100">
        <div class="col-lg-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-dark w-50 mt-3">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}