.profile-img{
  margin-right: 6px;
  width: 20px;
  height: 20px;
  filter: invert(1);

}

.dropdown-item:hover{
  cursor: pointer;


}

.dropdown-item:active{
  background-color: rgba(222, 221, 221, 0.181);
  color: black;

}